* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #87f1e0;
}

.container {
  background-color: #87f1e0;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  border: 4px;
  color: rgb(255, 255, 255);
  background-color: #7c7c7c;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.158);
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

.card-body{
  padding: 10px;
  text-align: center;
}

.category {
  color: #3a3939;
}

a {
  background-color: rgba(41, 41, 41, 0.356);
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
